B21/win_b64/resources/graphic/ClashGrammarW3C.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.1 U (http://www.xmlspy.com) by ALO (sds) -->
<!--W3C Schema generated by XML Spy v4.1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ClashElement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date"/>
				<xs:element ref="ClashSpec"/>
				<xs:element ref="ClashResult"/>
			</xs:sequence>
			<xs:attribute name="Responsible" type="xs:string" use="required"/>
			<xs:attribute name="CATDocument" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClashResult">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Interference" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="TabTitle" type="xs:string" use="required"/>
			<xs:attribute name="NbInterf" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClashSpec">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Specification" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="DistanceClearance" type="xs:string" use="required"/>
			<xs:attribute name="TabTitle" type="xs:string" use="required"/>
			<xs:attribute name="TabListTitle" type="xs:string" use="required"/>
			<xs:attribute name="SelectMode" default="ALL">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="INSIDE"/>
						<xs:enumeration value="OUTSIDE"/>
						<xs:enumeration value="ALL"/>
						<xs:enumeration value="TWO_LIST"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CaseOfCalc" default="INTERFERE_CLASH">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="INTERFERE_CLASH"/>
						<xs:enumeration value="INTERFERE_CONT"/>
						<xs:enumeration value="INTERFERE_CLEAR"/>
						<xs:enumeration value="RULECASE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Comment">
		<xs:complexType>
			<xs:attribute name="Value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Date">
		<xs:complexType>
			<xs:attribute name="Year" type="xs:string" use="required"/>
			<xs:attribute name="Month" type="xs:string" use="required"/>
			<xs:attribute name="Day" type="xs:string" use="required"/>
			<xs:attribute name="Hour" type="xs:string" use="required"/>
			<xs:attribute name="Minute" type="xs:string" use="required"/>
			<xs:attribute name="Second" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GeometricAspect">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Point" maxOccurs="unbounded"/>
				<xs:element ref="Viewpoint" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="IntersectCurveLength" type="xs:string" use="required"/>
			<xs:attribute name="ExtractOrDistValue" type="xs:string" use="required"/>
			<xs:attribute name="Blob" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Interference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Product" maxOccurs="unbounded"/>
				<xs:element ref="ViolatedRule" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="GeometricAspect"/>
				<xs:element ref="Comment"/>
				<xs:element ref="Picture" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="NumInterf" type="xs:string" use="required"/>
			<xs:attribute name="ResultType" default="Clash">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Clash"/>
						<xs:enumeration value="Contact"/>
						<xs:enumeration value="Clearance"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Status" default="NotInspected">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="NotInspected"/>
						<xs:enumeration value="Relevant"/>
						<xs:enumeration value="Irrelevant"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RetrieveInf" default="New">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Old"/>
						<xs:enumeration value="New"/>
						<xs:enumeration value="Modified"/>
						<xs:enumeration value="Solved"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Picture">
		<xs:complexType>
			<xs:attribute name="HRef" type="xs:string" use="required"/>
			<xs:attribute name="Preview" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Point">
		<xs:complexType>
			<xs:attribute name="X" type="xs:string" use="required"/>
			<xs:attribute name="Y" type="xs:string" use="required"/>
			<xs:attribute name="Z" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Product">
		<xs:complexType>
			<xs:attribute name="Alias" type="xs:string" use="required"/>
			<xs:attribute name="ProcessMode" default="ENOVIAV5">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ENOVIAV5"/>
						<xs:enumeration value="ENOVIAVPM"/>
						<xs:enumeration value="STANDALONE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DescriptionID" type="xs:string" use="required"/>
			<xs:attribute name="ShapeName" type="xs:string" use="required"/>
			<xs:attribute name="Alien" default="YES">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Specification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Product" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Vector">
		<xs:complexType>
			<xs:attribute name="Vx" type="xs:string" use="required"/>
			<xs:attribute name="Vy" type="xs:string" use="required"/>
			<xs:attribute name="Vz" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Viewpoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Vector" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Focus" type="xs:string" use="required"/>
			<xs:attribute name="Angle" type="xs:string" use="required"/>
			<xs:attribute name="Projection" default="CYLINDRIC">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="CYLINDRIC"/>
						<xs:enumeration value="CONIC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ViolatedRule">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="TypeCalc" type="xs:string" use="required"/>
			<xs:attribute name="Clearance" type="xs:string" use="required"/>
			<xs:attribute name="Priority" type="xs:string" use="required"/>
			<xs:attribute name="PenetrationCandidate" type="xs:string"/>
			<xs:attribute name="Severity" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
