B21/win_b64/startup/Reporting/ReportingSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Delmia (Delmia Corp) -->
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by  Rakesh SG (Delmia US) -->
	<xsd:complexType name="Logic">
		<xsd:annotation>
			<xsd:documentation>logic Details</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Jobs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Job" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ExecutionCount" type="xsd:int"/>
									<xsd:element name="Tasks">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="Task" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="TaskStartTime" minOccurs="0"/>
															<xsd:element name="TaskEndTime" minOccurs="0"/>
															<xsd:element name="TaskTime" minOccurs="0"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="JobTime"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Report">
		<xsd:annotation>
			<xsd:documentation>Simulation Statistics</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Version" minOccurs="0"/>
				<xsd:element name="Model" minOccurs="0">
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="Model"/>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Units" type="Units" minOccurs="0"/>
				<xsd:element name="Run" type="Run" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="State_Times">
		<xsd:sequence>
			<xsd:element name="BusyTime" type="xsd:float"/>
			<xsd:element name="IdleTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Resource">
		<xsd:sequence>
			<xsd:element name="StateTimes" type="State_Times"/>
			<xsd:element name="ResourceLogic" type="Logic" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:NMTOKEN" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Model">
		<xsd:sequence>
			<xsd:element name="ModelName" type="xsd:string"/>
			<xsd:element name="User" type="xsd:Name"/>
			<xsd:element name="Date" type="xsd:string"/>
			<xsd:element name="Time">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Project" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Units">
		<xsd:sequence>
			<xsd:element name="Time" type="xsd:string"/>
			<xsd:element name="Length" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Run">
		<xsd:sequence>
			<xsd:element name="RunParameters" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SimulationTime" type="xsd:float"/>
						<xsd:element name="WarmupTime" type="xsd:float" default="0.0"/>
						<xsd:element name="StatsCollectionTime" type="xsd:float"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Resources">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Resource" type="Resource" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="RunNumber" type="xsd:integer" use="required"/>
	</xsd:complexType>
</xsd:schema>
