B21/win_b64/reffiles/lmsfddxml/LMSFddColorscaleConfiguration.dtd

<!ELEMENT colorscaleconfiguration (colorscalescheme+)>
<!ELEMENT colorscalescheme (colorscaleentry*)>
<!ELEMENT colorscaleentry EMPTY>

<!ATTLIST colorscalescheme id ID #REQUIRED>

<!ATTLIST colorscaleentry red CDATA #REQUIRED
															 green CDATA #REQUIRED
															 blue CDATA #REQUIRED>
