B21/win_b64/reffiles/lmsfddxml/LMSFddLineStyleConfiguration.dtd

<!ELEMENT linestyleconfiguration (linestylescheme+)>
<!ELEMENT linestylescheme (linestyleentry*)>
<!ELEMENT linestyleentry (linestyleentry*)>

<!ATTLIST linestylescheme id ID #REQUIRED>

<!ATTLIST linestyleentry red CDATA #REQUIRED
															 green CDATA #REQUIRED
															 blue CDATA #REQUIRED
															 linetype CDATA #REQUIRED
															 linethickness CDATA #REQUIRED
															 symbol CDATA #REQUIRED
															 noline CDATA #REQUIRED>
