B21/win_b64/startup/EquipmentAndSystems/Tubing/DataDictionary/schemaallids.dtd

<?xml encoding="US-ASCII"?>
<!-- @version:  -->
<!ELEMENT SchemaName (#PCDATA) >
<!ATTLIST SchemaName id CDATA #REQUIRED>
<!ELEMENT SchemaAssociation (Association)* >
<!ELEMENT Association (#PCDATA) >
<!ATTLIST Association id CDATA #REQUIRED>
<!ATTLIST SchemaAssociation classname CDATA #REQUIRED>
<!ELEMENT Doct (SchemaName|SchemaAssociation)* >

