B21/win_b64/startup/EquipmentAndSystems/StrFunctionalDesign/DataDictionary/schemacolor.dtd

<!ELEMENT schema_CST (#PCDATA) >
<!ATTLIST schema_CST value CDATA  #IMPLIED>
<!ELEMENT schema_ATT (#PCDATA) >
<!ATTLIST schema_ATT value CDATA  #IMPLIED>
<!ATTLIST schema_ATT format CDATA #IMPLIED>
<!ELEMENT schema_Color (#PCDATA) >
<!ATTLIST schema_Color seq_RED CDATA  #IMPLIED>
<!ATTLIST schema_Color seq_GREEN CDATA  #IMPLIED>
<!ATTLIST schema_Color seq_BLUE CDATA  #IMPLIED>
<!ELEMENT Doct (schema_CST|schema_ATT|schema_Color)* >

