B21/win_b64/resources/dtd/catmacrolib.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===========================================================================
     DTD for CATIA V5 macro libraries
     Author Jean-Francois DOUE (JDU)
     Version 1.0 - Draft
	 =========================================================================== -->

<!ELEMENT macrolibrary (macro)*>

<!ELEMENT macro (property)*>
<!ATTLIST macro
          name CDATA #REQUIRED>

<!ELEMENT property (#PCDATA)>
<!ATTLIST property
          name CDATA #REQUIRED>
