B21/win_b64/resources/dtd/DPMWorkTextActivity.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT TextLibrary (Text*)>
<!ELEMENT Text (Body, Parameter*, Selection*, Text*)>
<!ELEMENT Body (#PCDATA)>
<!ELEMENT Parameter (#PCDATA)>
<!ELEMENT Selection (#PCDATA)>
<!ATTLIST TextLibrary name CDATA #REQUIRED>
<!ATTLIST TextLibrary id ID #REQUIRED>
<!ATTLIST Text id ID #REQUIRED>
<!ATTLIST Text name CDATA #REQUIRED>
