B21/win_b64/code/dictionary/extensionlinks.dtd

<!ELEMENT CATFct (basefeature+)>
  <!ATTLIST CATFct
  AssociatedCatalog CDATA #REQUIRED
  >

<!ELEMENT basefeature (extensionfeature+)>
  <!ATTLIST basefeature
  Name CDATA #REQUIRED
  >

<!ELEMENT extensionfeature EMPTY>
  <!ATTLIST extensionfeature
  Name CDATA #REQUIRED
  ContainerName CDATA #REQUIRED
  >
