B21/win_b64/code/dictionary/ReportTable.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by Vic Szeto (DASSAULT SYSTEMES) -->
<!ELEMENT ReportTable (Table_Title, Table_Row+)>
<!ELEMENT Table_Title (#PCDATA) >
<!ELEMENT Table_Row (Table_Column*)>
<!ELEMENT Table_Column (#PCDATA) >
<!ATTLIST Table_Column
	Type (data | header) #REQUIRED
>
