B21/win_b64/reffiles/FEM/PropertyMappingRules.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="FloatSeries6or3">
		<xs:restriction base="xs:token">
			<xs:pattern value="(((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?))|(((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?))" />
			<xs:pattern value="INF" />
			<xs:pattern value="-INF" />
			<xs:pattern value="NaN" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FloatSeries3">
		<xs:restriction base="xs:token">
			<xs:pattern value="((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?)" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FloatSeries6">
		<xs:restriction base="xs:token">
			<xs:pattern value="((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?)" />
			<xs:pattern value="INF" />
			<xs:pattern value="-INF" />
			<xs:pattern value="NaN" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FloatSeries2">
		<xs:restriction base="xs:token">
			<xs:pattern value="((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+|-)?[0-9]+(.[0-9]+)?)|((\+|-)?[0-9]+(.))|((\+|-)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?)" />
			<xs:pattern value="INF" />
			<xs:pattern value="-INF" />
			<xs:pattern value="NaN" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FloatSeries2Positive">
		<xs:restriction base="xs:token">
			<xs:pattern value="((((\+)?[0-9]+(.[0-9]+)?)|((\+)?[0-9]+(.))|((\+)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?);((((\+)?[0-9]+(.[0-9]+)?)|((\+)?[0-9]+(.))|((\+)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?)" />
			<xs:pattern value="INF" />
			<xs:pattern value="NaN" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BooleanSeries6">
		<xs:restriction base="xs:token">
			<xs:pattern value="\d;\d;\d;\d;\d;\d" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FloatPositive">
		<xs:restriction base="xs:token">
			<xs:pattern value="((((\+)?[0-9]+(.[0-9]+)?)|((\+)?[0-9]+(.))|((\+)?(.)[0-9]+))((E|e)(\+|-)?[0-9]+)?)" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Position">
		<xs:restriction base="xs:token">
			<xs:pattern value="([0-9]+(;[0-9]+)*)" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Property2D">
		<xs:attribute name="MAT" type="xs:string" use="required" />
		<xs:attribute name="BELONG_TO_GEOM" type="xs:string" use="optional" />
		<xs:attribute name="BELONG_TO_MP" type="xs:string" use="optional" />
		<xs:attribute name="BELONG_TO_GROUP" type="xs:string" use="optional" />
		<xs:attribute name="SHARE_WITH_GEOM" type="xs:string" use="optional" />
		<xs:attribute name="SHARE_WITH_MP" type="xs:string" use="optional" />
		<xs:attribute name="SHARE_WITH_GROUP" type="xs:string" use="optional" />
		<xs:attribute name="X" type="xs:float" use="optional" />
		<xs:attribute name="Y" type="xs:float" use="optional" />
		<xs:attribute name="Z" type="xs:float" use="optional" />
		<xs:attribute name="TOL" type="FloatPositive" use="optional" />
		<xs:attribute name="TH" type="FloatPositive" use="required" />
                <xs:attribute name="SURFACE_OFFSET" type="xs:float" use="optional" />
    <xs:attribute name="USER_NUM" type="xs:positiveInteger" use="optional" />
	</xs:complexType>
	<xs:complexType name="PropertyCompositeHomogeneous">
		<xs:sequence>
			<xs:element name="LAMINA" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="MAT" type="xs:string" use="required" />
					<xs:attribute name="TH" type="FloatPositive" use="optional" />
					<xs:attribute name="ANGLE" type="xs:float" use="required" />
					<xs:attribute name="MULTIPLICATION_FACTOR" type="xs:positiveInteger" use="optional" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="BELONG_TO_GEOM" type="xs:string" use="optional" />
		<xs:attribute name="BELONG_TO_MP" type="xs:string" use="optional" />
		<xs:attribute name="BELONG_TO_GROUP" type="xs:string" use="optional" />
		<xs:attribute name="SHARE_WITH_GEOM" type="xs:string" use="optional" />
		<xs:attribute name="SHARE_WITH_MP" type="xs:string" use="optional" />
		<xs:attribute name="SHARE_WITH_GROUP" type="xs:string" use="optional" />
		<xs:attribute name="COMPOSITE_AXIS" type="xs:string" use="optional" />
		<xs:attribute name="REF_ANGLE" type="xs:float" use="optional" />
		<xs:attribute name="X" type="xs:float" use="optional" />
		<xs:attribute name="Y" type="xs:float" use="optional" />
		<xs:attribute name="Z" type="xs:float" use="optional" />
		<xs:attribute name="TOL" type="FloatPositive" use="optional" />
		<xs:attribute name="NB_LAMINA" type="xs:positiveInteger" use="optional" />
        <xs:attribute name="USER_NUM" type="xs:positiveInteger" use="optional" />
        <xs:attribute name="SURFACE_OFFSET" type="xs:float" use="optional" />
	</xs:complexType>
	<xs:complexType name="PropertyComposite">
		<xs:sequence>
			<xs:element name="LAMINA" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="MAT" type="xs:string" use="required" />
					<xs:attribute name="TH" type="FloatPositive" use="optional" />
					<xs:attribute name="ANGLE" type="xs:float" use="required" />
					<xs:attribute name="POSITION" type="Position" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="BELONG_TO_GEOM" type="xs:string" use="optional" />
		<xs:attribute name="BELONG_TO_MP" type="xs:string" use="optional" />
		<xs:attribute name="BELONG_TO_GROUP" type="xs:string" use="optional" />
		<xs:attribute name="SHARE_WITH_GEOM" type="xs:string" use="optional" />
		<xs:attribute name="SHARE_WITH_MP" type="xs:string" use="optional" />
		<xs:attribute name="SHARE_WITH_GROUP" type="xs:string" use="optional" />
		<xs:attribute name="COMPOSITE_AXIS" type="xs:string" use="optional" />
		<xs:attribute name="REF_ANGLE" type="xs:float" use="optional" />
		<xs:attribute name="X" type="xs:float" use="optional" />
		<xs:attribute name="Y" type="xs:float" use="optional" />
		<xs:attribute name="Z" type="xs:float" use="optional" />
		<xs:attribute name="TOL" type="FloatPositive" use="optional" />
		<xs:attribute name="NB_LAMINA" type="xs:positiveInteger" use="optional" />
        <xs:attribute name="USER_NUM" type="xs:positiveInteger" use="optional" />
        <xs:attribute name="SURFACE_OFFSET" type="xs:float" use="optional" />
	</xs:complexType>
	<xs:element name="ListOfProperties">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEFAULT_VALUES">
					<xs:complexType>
						<xs:attribute name="AXIS" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string" />
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="TOL" type="FloatPositive" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="UNITS">
					<xs:complexType>
						<xs:attribute name="LENGTH" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="in|m|mm|cm" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ANGLE" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="deg|rad" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:choice maxOccurs="unbounded">
					<xs:element name="BEAM" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="MAT" type="xs:string" use="required" />
							<xs:attribute name="BELONG_TO_GEOM" type="xs:string" use="optional" />
							<xs:attribute name="BELONG_TO_MP" type="xs:string" use="optional" />
							<xs:attribute name="BELONG_TO_GROUP" type="xs:string" use="optional" />
							<xs:attribute name="SHARE_WITH_GEOM" type="xs:string" use="optional" />
							<xs:attribute name="SHARE_WITH_MP" type="xs:string" use="optional" />
							<xs:attribute name="SHARE_WITH_GROUP" type="xs:string" use="optional" />
							<xs:attribute name="X" type="xs:float" use="optional" />
							<xs:attribute name="Y" type="xs:float" use="optional" />
							<xs:attribute name="Z" type="xs:float" use="optional" />
							<xs:attribute name="TOL" type="FloatPositive" use="optional" />
							<xs:attribute name="AREA" type="FloatPositive" use="required" />
							<xs:attribute name="INERTIA" type="FloatSeries3" use="required" />
							<xs:attribute name="SHEAR_RATIO_XY" type="FloatPositive" use="optional" default="0" />
							<xs:attribute name="SHEAR_RATIO_XZ" type="FloatPositive" use="optional" default="0" />
							<xs:attribute name="SHEAR_CENTER" type="FloatSeries2" use="optional" default="0;0" />
							<xs:attribute name="OFFSET" type="FloatSeries6or3" use="optional" />
							<xs:attribute name="ORIENTATION_VECTOR" type="xs:string" use="optional" />
							<xs:attribute name="ORIENTATION_POINT" type="xs:string" use="optional" />
							<xs:attribute name="ORIENTATION_SURFACE" type="xs:string" use="optional" />
							<xs:attribute name="DOF_START" type="BooleanSeries6" use="optional" />
							<xs:attribute name="DOF_END" type="BooleanSeries6" use="optional" />
              <xs:attribute name="USER_NUM" type="xs:positiveInteger" use="optional" />
						</xs:complexType>
					</xs:element>
					<xs:element name="BEAM_V" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="MAT" type="xs:string" use="required" />
							<xs:attribute name="BELONG_TO_GEOM" type="xs:string" use="optional" />
							<xs:attribute name="BELONG_TO_MP" type="xs:string" use="optional" />
							<xs:attribute name="BELONG_TO_GROUP" type="xs:string" use="optional" />
							<xs:attribute name="SHARE_WITH_GEOM" type="xs:string" use="optional" />
							<xs:attribute name="SHARE_WITH_MP" type="xs:string" use="optional" />
							<xs:attribute name="SHARE_WITH_GROUP" type="xs:string" use="optional" />
							<xs:attribute name="X" type="xs:float" use="optional" />
							<xs:attribute name="Y" type="xs:float" use="optional" />
							<xs:attribute name="Z" type="xs:float" use="optional" />
							<xs:attribute name="TOL" type="FloatPositive" use="optional" />
							<xs:attribute name="AREA" type="FloatSeries2Positive" use="required" />
							<xs:attribute name="INERTIA" type="FloatSeries6" use="required" />
							<xs:attribute name="SHEAR_RATIO_XY" type="FloatSeries2Positive" use="required" />
							<xs:attribute name="SHEAR_RATIO_XZ" type="FloatSeries2Positive" use="required" />
							<xs:attribute name="OFFSET" type="FloatSeries6or3" use="optional" />
							<xs:attribute name="ORIENTATION_VECTOR" type="xs:string" use="optional" />
							<xs:attribute name="ORIENTATION_POINT" type="xs:string" use="optional" />
							<xs:attribute name="ORIENTATION_SURFACE" type="xs:string" use="optional" />
							<xs:attribute name="DOF_START" type="BooleanSeries6" use="optional" />
							<xs:attribute name="DOF_END" type="BooleanSeries6" use="optional" />
              <xs:attribute name="USER_NUM" type="xs:positiveInteger" use="optional" />
						</xs:complexType>
					</xs:element>
					<xs:element name="BAR" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="MAT" type="xs:string" use="required" />
							<xs:attribute name="BELONG_TO_GEOM" type="xs:string" use="optional" />
							<xs:attribute name="BELONG_TO_MP" type="xs:string" use="optional" />
							<xs:attribute name="BELONG_TO_GROUP" type="xs:string" use="optional" />
							<xs:attribute name="SHARE_WITH_GEOM" type="xs:string" use="optional" />
							<xs:attribute name="SHARE_WITH_MP" type="xs:string" use="optional" />
							<xs:attribute name="SHARE_WITH_GROUP" type="xs:string" use="optional" />
							<xs:attribute name="X" type="xs:float" use="optional" />
							<xs:attribute name="Y" type="xs:float" use="optional" />
							<xs:attribute name="Z" type="xs:float" use="optional" />
							<xs:attribute name="TOL" type="FloatPositive" use="optional" />
							<xs:attribute name="AREA" type="FloatPositive" use="required" />
              <xs:attribute name="USER_NUM" type="xs:positiveInteger" use="optional" />
						</xs:complexType>
					</xs:element>
					<xs:element name="SHELL" type="Property2D" maxOccurs="unbounded" />
					<xs:element name="MEMBRANE" type="Property2D" maxOccurs="unbounded" />
					<xs:element name="SHEAR_PANEL" type="Property2D" maxOccurs="unbounded" />
					<xs:element name="COMPOSITE_MEMBRANE_H" type="PropertyCompositeHomogeneous" maxOccurs="unbounded" />
					<xs:element name="COMPOSITE_SHELL_H" type="PropertyCompositeHomogeneous" maxOccurs="unbounded" />
					<xs:element name="COMPOSITE_SHEAR_PANEL_H" type="PropertyCompositeHomogeneous" maxOccurs="unbounded" />
					<xs:element name="COMPOSITE_MEMBRANE" type="PropertyComposite" maxOccurs="unbounded" />
					<xs:element name="COMPOSITE_SHELL" type="PropertyComposite" maxOccurs="unbounded" />
					<xs:element name="COMPOSITE_SHEAR_PANEL" type="PropertyComposite" maxOccurs="unbounded" />
					<xs:element name="SOLID" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="MAT" type="xs:string" use="required" />
							<xs:attribute name="BELONG_TO_MP" type="xs:string" use="optional" />
							<xs:attribute name="BELONG_TO_GROUP" type="xs:string" use="optional" />
							<xs:attribute name="SHARE_WITH_GEOM" type="xs:string" use="optional" />
							<xs:attribute name="SHARE_WITH_MP" type="xs:string" use="optional" />
							<xs:attribute name="SHARE_WITH_GROUP" type="xs:string" use="optional" />
							<xs:attribute name="X" type="xs:float" use="optional" />
							<xs:attribute name="Y" type="xs:float" use="optional" />
							<xs:attribute name="Z" type="xs:float" use="optional" />
							<xs:attribute name="TOL" type="FloatPositive" use="optional" />
							<xs:attribute name="AXIS" type="xs:string" use="optional" />
              <xs:attribute name="USER_NUM" type="xs:positiveInteger" use="optional" />
							<xs:attribute name="AXIS_TYPE" use="optional" default="CARTESIAN">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="CARTESIAN|CYLINDRICAL|SPHERICAL" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
