B21/win_b64/reffiles/SIM/51500/Simulation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by JND (DASSAULT SYSTEMES) -->
<xsd:schema targetNamespace="urn:com:dassault_systemes:Simulation" xmlns:tns="urn:com:dassault_systemes:Simulation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" elementFormDefault="qualified">
	<xsd:simpleType name="Dof">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FLUID"/>
			<xsd:enumeration value="CLAMP"/>
			<xsd:enumeration value="BALL_JOIN"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KWEUnit">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NONE"/>
			<xsd:enumeration value="RPM"/>
			<xsd:enumeration value="TIME"/>
			<xsd:enumeration value="AREA"/>
			<xsd:enumeration value="MASS"/>
			<xsd:enumeration value="SPEED"/>
			<xsd:enumeration value="FORCE"/>
			<xsd:enumeration value="ANGLE"/>
			<xsd:enumeration value="INERTIA"/>
			<xsd:enumeration value="POWER"/>
			<xsd:enumeration value="LENGTH"/>
			<xsd:enumeration value="MOMENT"/>
			<xsd:enumeration value="ENERGY"/>
			<xsd:enumeration value="TEMPRTRE"/>
			<xsd:enumeration value="LINEMASS"/>
			<xsd:enumeration value="PRESSURE"/>
			<xsd:enumeration value="MASSFLOW"/>
			<xsd:enumeration value="CURVATURE"/>
			<xsd:enumeration value="PERCENTAGE"/>
			<xsd:enumeration value="HEATTRANSFER"/>
			<xsd:enumeration value="HERTZSQUARE"/>
			<xsd:enumeration value="HEATCAPACITY"/>
			<xsd:enumeration value="SURFACICMASS"/>
			<xsd:enumeration value="VISCOUS_DAMPING"/>
			<xsd:enumeration value="THERMALCONDUCTIVITY"/>
			<xsd:enumeration value="DYNAMICVISCOSITY"/>
			<xsd:enumeration value="DENSITY"/>
			<xsd:enumeration value="INTENSITY"/>
			<xsd:enumeration value="RSTIFNES"/>
			<xsd:enumeration value="TSTIFNES"/>
			<xsd:enumeration value="VOLFORCE"/>
			<xsd:enumeration value="VOL_FLOW"/>
			<xsd:enumeration value="ACCELRTN"/>
			<xsd:enumeration value="HEAT_FLUX"/>
			<xsd:enumeration value="FREQUENCY"/>
			<xsd:enumeration value="SQUARE_TIME"/>
			<xsd:enumeration value="SQUARE_FORCE"/>
			<xsd:enumeration value="SQUARE_MOMENT"/>
			<xsd:enumeration value="SQUARE_VELOCITY"/>
			<xsd:enumeration value="SQUARE_PRESSURE"/>
			<xsd:enumeration value="SQUARE_ROTATION"/>
			<xsd:enumeration value="SQUARE_PULSATION"/>
			<xsd:enumeration value="SQUARE_DISPLACEMENT"/>
			<xsd:enumeration value="SQUARE_ACCELERATION"/>
			<xsd:enumeration value="SQUARE_VOLUME_VELOCITY"/>
			<xsd:enumeration value="SQUARE_VOLUME_ACCELERATION"/>
			<xsd:enumeration value="SQUARE_ROTATIONAL_ACCELERATION"/>
			<xsd:enumeration value="HEAT_GENERATION_RATE"/>
			<xsd:enumeration value="INVERSE_SQUARE_PRESSURE"/>
			<xsd:enumeration value="MOMENT_OVER_VOLUME_VELOCITY"/>
			<xsd:enumeration value="INERTIAMOMENT"/>
			<xsd:enumeration value="ANGACCELRTN"/>
			<xsd:enumeration value="INVERSE_TEMPRTRE"/>
			<xsd:enumeration value="ANGULAR_VELOCITY"/>
			<xsd:enumeration value="PRESSURE_OVER_FORCE"/>
			<xsd:enumeration value="VELOCITY_OVER_FORCE"/>
			<xsd:enumeration value="DISPLACEMENT_OVER_FORCE"/>
			<xsd:enumeration value="ACCELERATION_OVER_FORCE"/>
			<xsd:enumeration value="FORCE_OVER_VELOCITY"/>
			<xsd:enumeration value="FORCE_OVER_ACCELERATION"/>
			<xsd:enumeration value="MOMENT_OVER_ACCELERATION"/>
			<xsd:enumeration value="VELOCITY_OVER_PRESSURE"/>
			<xsd:enumeration value="MOMENT_OVER_VELOCITY"/>
			<xsd:enumeration value="PRESSURE_OVER_VELOCITY"/>
			<xsd:enumeration value="PRESSURE_OVER_DISPLACEMENT"/>
			<xsd:enumeration value="PRESSURE_OVER_ACCELERATION"/>
			<xsd:enumeration value="ACOUSTIC_DIPOLE_AMPLITUDE"/>
			<xsd:enumeration value="ACOUSTIC_MONOPOLE_AMPLITUDE"/>
			<xsd:enumeration value="ACOUSTIC_QUADRUPOLE_AMPLITUDE"/>
			<xsd:enumeration value="PRESSURE_OVER_NORMAL_VELOCITY"/>
			<xsd:enumeration value="DISPLACEMENT_OVER_VOLUME_VELOCITY"/>
			<xsd:enumeration value="FORCE_OVER_VOLUME_VELOCITY"/>
			<xsd:enumeration value="PRESSURE_OVER_VOLUME_VELOCITY"/>
			<xsd:enumeration value="VELOCITY_OVER_VOLUME_VELOCITY"/>
			<xsd:enumeration value="ACCELERATION_OVER_VOLUME_VELOCITY"/>
			<xsd:enumeration value="DISPLACEMENT_OVER_VOLUME_ACCELERATION"/>
			<xsd:enumeration value="FORCE_OVER_VOLUME_ACCELERATION"/>
			<xsd:enumeration value="PRESSURE_OVER_VOLUME_ACCELERATION"/>
			<xsd:enumeration value="VELOCITY_OVER_VOLUME_ACCELERATION"/>
			<xsd:enumeration value="ACCELERATION_OVER_VOLUME_ACCELERATION"/>
			<xsd:enumeration value="MOMENT_OVER_ROTATIONAL_ACCELERATION"/>
			<xsd:enumeration value="FORCE_OVER_ROTATIONAL_ACCELERATION"/>
			<xsd:enumeration value="PRESSURE_OVER_ROTATIONAL_ACCELERATION"/>
			<xsd:enumeration value="FORCE_OVER_PRESSURE"/>
			<xsd:enumeration value="FLOW_RESISTIVITY"/>
			<xsd:enumeration value="POWER_SPECTRAL_DENSITY"/>
			<xsd:enumeration value="POWER_SPECTRAL_DENSITY_PRESSURE"/>
			<xsd:enumeration value="POWER_SPECTRAL_DENSITY_DISPLACEMENT"/>
			<xsd:enumeration value="POWER_SPECTRAL_DENSITY_VELOCITY"/>
			<xsd:enumeration value="POWER_SPECTRAL_DENSITY_ACCELERATION"/>
			<xsd:enumeration value="POWER_SPECTRAL_DENSITY_ROTATION"/>
			<xsd:enumeration value="POWER_SPECTRAL_DENSITY_ROTATIONAL_VELOCITY"/>
			<xsd:enumeration value="POWER_SPECTRAL_DENSITY_ROTATIONAL_ACCELERATION"/>
			<xsd:enumeration value="POWER_SPECTRAL_DENSITY_FORCE"/>
			<xsd:enumeration value="POWER_SPECTRAL_DENSITY_MOMENT"/>
			<xsd:enumeration value="SQUARE_VOLUME_VELOCITY_OVER_FREQUENCY"/>
			<xsd:enumeration value="SQUARE_VOLUME_ACCELERATION_OVER_FREQUENCY"/>
			<xsd:enumeration value="DISPLACEMENTXFORCE_OVER_FREQUENCY"/>
			<xsd:enumeration value="DISPLACEMENTXVOLUME_VELOCITY"/>
			<xsd:enumeration value="DISPLACEMENTXVOLUME_ACCELERATION"/>
			<xsd:enumeration value="FORCE_OVER_DISPLACEMENT"/>
			<xsd:enumeration value="VELOCITYXFORCE"/>
			<xsd:enumeration value="VELOCITYXVOLUME_ACCELERATION"/>
			<xsd:enumeration value="VELOCITYXPRESSURE"/>
			<xsd:enumeration value="PRESSUREXFORCE_OVER_FREQUENCY"/>
			<xsd:enumeration value="PRESSUREXVOLUME_VELOCITY"/>
			<xsd:enumeration value="PRESSURE_OVER_AREA"/>
			<xsd:enumeration value="DISPLACEMENTXVELOCITY"/>
			<xsd:enumeration value="DISPLACEMENTXACCELERATION"/>
			<xsd:enumeration value="DISPLACEMENTXPRESSURE"/>
			<xsd:enumeration value="VELOCITYXDISPLACEMENT"/>
			<xsd:enumeration value="VELOCITYXACCELERATION"/>
			<xsd:enumeration value="VELOCITYXVOLUME_VELOCITY"/>
			<xsd:enumeration value="ACCELERATIONXDISPLACEMENT"/>
			<xsd:enumeration value="ACCELERATIONXVELOCITY"/>
			<xsd:enumeration value="ACCELERATIONXFORCE"/>
			<xsd:enumeration value="ACCELERATIONXVOLUME_VELOCITY"/>
			<xsd:enumeration value="ACCELERATIONXVOLUME_ACCELERATION"/>
			<xsd:enumeration value="ACCELERATIONXPRESSURE"/>
			<xsd:enumeration value="PRESSUREXDISPLACEMENT"/>
			<xsd:enumeration value="PRESSUREXVELOCITY"/>
			<xsd:enumeration value="PRESSUREXACCELERATION"/>
			<xsd:enumeration value="PRESSUREXFORCE"/>
			<xsd:enumeration value="PRESSUREXVOLUME_ACCELERATION"/>
			<xsd:enumeration value="DISPLACEMENT_OVER_PRESSURE"/>
			<xsd:enumeration value="ACCELERATION_OVER_PRESSURE"/>
			<xsd:enumeration value="VOLUME_VELOCITY_OVER_ROTATION"/>
			<xsd:enumeration value="VOLUME_VELOCITY_OVER_VELOCITY"/>
			<xsd:enumeration value="VOLUME_VELOCITY_OVER_PULSATION"/>
			<xsd:enumeration value="VOLUME_VELOCITY_OVER_ACCELERATION"/>
			<xsd:enumeration value="VOLUME_VELOCITY_OVER_ROTATIONAL_ACCELERATION"/>
			<xsd:enumeration value="VOLUME_VELOCITY"/>
			<xsd:enumeration value="PRESSURE_OVER_TIME"/>
			<xsd:enumeration value="VELOCITY_POTENTIAL"/>
			<xsd:enumeration value="VOLUME_ACCELERATION"/>
			<xsd:enumeration value="MOMENT_OVER_PULSATION"/>
			<xsd:enumeration value="VELOCITY_OVER_MOMENT"/>
			<xsd:enumeration value="PRESSURE_OVER_MOMENT"/>
			<xsd:enumeration value="ROTATION_OVER_MOMENT"/>
			<xsd:enumeration value="PULSATION_OVER_MOMENT"/>
			<xsd:enumeration value="DISPLACEMENT_OVER_MOMENT"/>
			<xsd:enumeration value="ACCELERATION_OVER_MOMENT"/>
			<xsd:enumeration value="VOLUME_VELOCITY_OVER_MOMENT"/>
			<xsd:enumeration value="ROTATIONAL_ACCELERATION_OVER_MOMENT"/>
			<xsd:enumeration value="VOLUME_VELOCITY_OVER_DISPLACEMENT"/>
			<xsd:enumeration value="VELOCITY_OVER_FORCE"/>
			<xsd:enumeration value="ROTATION_OVER_FORCE"/>
			<xsd:enumeration value="PULSATION_OVER_FORCE"/>
			<xsd:enumeration value="DISPLACEMENT_OVER_FORCE"/>
			<xsd:enumeration value="ACCELERATION_OVER_FORCE"/>
			<xsd:enumeration value="VOLUME_VELOCITY_OVER_FORCE"/>
			<xsd:enumeration value="VOLUME_VELOCITY_OVER_PRESSURE"/>
			<xsd:enumeration value="VOLUME_ACCELERATION_OVER_ROTATIONAL_ACCELERATION"/>
			<xsd:enumeration value="VOLUME_ACCELERATION_OVER_ACCELERATION"/>
			<xsd:enumeration value="VOLUME_ACCELERATION_OVER_PULSATION"/>
			<xsd:enumeration value="VOLUME_ACCELERATION_OVER_VELOCITY"/>
			<xsd:enumeration value="VOLUME_ACCELERATION_OVER_MOMENT"/>
			<xsd:enumeration value="VOLUME_ACCELERATION_OVER_ROTATION"/>
			<xsd:enumeration value="VOLUME_ACCELERATION_OVER_DISPLACEMENT"/>
			<xsd:enumeration value="ROTATIONAL_ACCELERATION_OVER_FORCE"/>
			<xsd:enumeration value="VOLUME_ACCELERATION_OVER_PRESSURE"/>
			<xsd:enumeration value="VOLUME_ACCELERATION_OVER_FORCE"/>
			<xsd:enumeration value="MOMENT_OVER_DISPLACEMENT"/>
			<xsd:enumeration value="FORCE_OVER_ROTATION"/>
			<xsd:enumeration value="MOMENT_OVER_ROTATION"/>
			<xsd:enumeration value="PRESSURE_OVER_ROTATION"/>
			<xsd:enumeration value="FORCE_OVER_PULSATION"/>
			<xsd:enumeration value="MOMENT_OVER_PULSATION"/>
			<xsd:enumeration value="PRESSURE_OVER_PULSATION"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Position">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DOF"/>
			<xsd:enumeration value="NODE"/>
			<xsd:enumeration value="EDGE"/>
			<xsd:enumeration value="FACE"/>
			<xsd:enumeration value="ELEMENT"/>
			<xsd:enumeration value="VIRTUAL_NODE"/>
			<xsd:enumeration value="VIRTUAL_ELEMENT"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UniqueID">
		<xsd:restriction base="xsd:token">
			<xsd:minLength value="3"/>
			<xsd:pattern value="([A-Z]|[0-9])(([A-Z]|[0-9]|_)*)([A-Z]|[0-9])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MathType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SCALAR"/>
			<xsd:enumeration value="VECTOR"/>
			<xsd:enumeration value="TENSOR"/>
			<xsd:enumeration value="BITARRAY"/>
			<xsd:enumeration value="EIGENVALUES"/>
			<xsd:enumeration value="SYMMETRICALTENSOR"/>
			<xsd:enumeration value="UNDEFINED"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SET"/>
			<xsd:enumeration value="ENTITY"/>
			<xsd:enumeration value="CHARACTERISTIC"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Category">
		<xsd:restriction base="tns:ValueType">
			<xsd:enumeration value="SET"/>
			<xsd:enumeration value="AXIS"/>
			<xsd:enumeration value="NODE"/>
			<xsd:enumeration value="LOAD"/>
			<xsd:enumeration value="MASS"/>
			<xsd:enumeration value="GROUP"/>
			<xsd:enumeration value="ELEMENT"/>
			<xsd:enumeration value="POINTER"/>
			<xsd:enumeration value="MATERIAL"/>
			<xsd:enumeration value="RESTRAINT"/>
			<xsd:enumeration value="PROPERTY"/>
			<xsd:enumeration value="EXPRESSION"/>
			<xsd:enumeration value="VIRTUALNODE"/>
			<xsd:enumeration value="VIRTUALELEMENT"/>
			<xsd:enumeration value="BOUNDARYCONDITION"/>
			<xsd:enumeration value="UNDEFINED"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ValueType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="REAL"/>
			<xsd:enumeration value="SHORT"/>
			<xsd:enumeration value="INTEGER"/>
			<xsd:enumeration value="DOUBLE"/>
			<xsd:enumeration value="CHARACTER"/>
			<xsd:enumeration value="REALCOMPLEX"/>
			<xsd:enumeration value="DOUBLECOMPLEX"/>
			<xsd:enumeration value="SET"/>
			<xsd:enumeration value="AXIS"/>
			<xsd:enumeration value="NODE"/>
			<xsd:enumeration value="LOAD"/>
			<xsd:enumeration value="MASS"/>
			<xsd:enumeration value="GROUP"/>
			<xsd:enumeration value="ELEMENT"/>
			<xsd:enumeration value="POINTER"/>
			<xsd:enumeration value="MATERIAL"/>
			<xsd:enumeration value="RESTRAINT"/>
			<xsd:enumeration value="PROPERTY"/>
			<xsd:enumeration value="EXPRESSION"/>
			<xsd:enumeration value="VIRTUALNODE"/>
			<xsd:enumeration value="VIRTUALELEMENT"/>
			<xsd:enumeration value="BOUNDARYCONDITION"/>
			<xsd:enumeration value="UNDEFINED"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Cardinality">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="(\[)(((([0-9])|([1-9]([0-9]*))|((([0-9])|([1-9]([0-9]*)))(((,|,((\s)*)|((\s)*),((\s)*))(([0-9])|([1-9]([0-9]*))))*))))|((([0-9])|([1-9]([0-9]*))|((([0-9])|([1-9]([0-9]*)))((\-)|(\-)((\s)*)|((\s)*)(\-)((\s)*))(([0-9])|([1-9]([0-9]*)))))))(\])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Dimension">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[\?]|(([1-9])|([1-9]([0-9]*))|((([1-9])|([1-9]([0-9]*)))(x|x((\s)*)|((\s)*)x((\s)*))(([1-9])|([1-9]([0-9]*)))))"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Connectivity">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BAR2"/>
			<xsd:enumeration value="BAR3"/>
			<xsd:enumeration value="TR3"/>
			<xsd:enumeration value="TR6"/>
			<xsd:enumeration value="QD4"/>
			<xsd:enumeration value="QD8"/>
			<xsd:enumeration value="HE8"/>
			<xsd:enumeration value="HE20"/>
			<xsd:enumeration value="TE4"/>
			<xsd:enumeration value="TE10"/>
			<xsd:enumeration value="PY5"/>
			<xsd:enumeration value="PY13"/>
			<xsd:enumeration value="WE6"/>
			<xsd:enumeration value="WE15"/>
			<xsd:enumeration value="SPIDER"/>
			<xsd:enumeration value="SNAKE"/>
			<xsd:enumeration value="UNDEFINED"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="DofType">
		<xsd:attribute name="Dof" type="tns:Dof" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="SetType">
		<xsd:sequence>
			<xsd:element name="Identifier" type="tns:IdentifierType"/>
			<xsd:element name="Child" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="ID" type="tns:UniqueID" use="required"/>
					<xsd:attribute name="Mandatory" type="xsd:boolean" use="optional" default="false"/>
					<xsd:attribute name="Cardinality" type="tns:Cardinality" use="optional"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="DataType" type="tns:DataType" default="SET"/>
		<xsd:attribute name="Category" type="tns:Category" default="SET"/>
	</xsd:complexType>
	<xsd:complexType name="AxisType">
		<xsd:complexContent>
			<xsd:extension base="tns:BaseEntityType">
				<xsd:attribute name="Category" type="tns:Category" default="AXIS"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NodeType">
		<xsd:complexContent>
			<xsd:extension base="tns:BaseEntityType">
				<xsd:attribute name="Category" type="tns:Category" default="NODE"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LoadType">
		<xsd:complexContent>
			<xsd:extension base="tns:EntityApplyType">
				<xsd:attribute name="Category" type="tns:Category" default="LOAD"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MassType">
		<xsd:complexContent>
			<xsd:extension base="tns:EntityApplyType">
				<xsd:attribute name="Category" type="tns:Category" default="MASS"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EntityType">
		<xsd:complexContent>
			<xsd:extension base="tns:BaseEntityType">
				<xsd:sequence>
					<xsd:element name="ApplyTo" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:attribute name="ID" type="tns:UniqueID" use="required"/>
							<xsd:attribute name="Position" type="tns:Position" use="optional"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Category" type="tns:Category" default="UNDEFINED"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GroupType">
		<xsd:complexContent>
			<xsd:extension base="tns:BaseEntityType">
				<xsd:attribute name="Category" type="tns:Category" default="GROUP"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElementType">
		<xsd:complexContent>
			<xsd:extension base="tns:BaseEntityType">
				<xsd:sequence>
					<xsd:element name="Dof" type="tns:DofType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="Category" type="tns:Category" default="ELEMENT"/>
				<xsd:attribute name="Connectivity" type="tns:Connectivity" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MaterialType">
		<xsd:complexContent>
			<xsd:extension base="tns:BaseEntityType">
				<xsd:attribute name="Category" type="tns:Category" default="MATERIAL"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PropertyType">
		<xsd:complexContent>
			<xsd:extension base="tns:EntityApplyType">
				<xsd:attribute name="Category" type="tns:Category" default="PROPERTY"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RestraintType">
		<xsd:complexContent>
			<xsd:extension base="tns:EntityApplyType">
				<xsd:attribute name="Category" type="tns:Category" default="RESTRAINT"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IdentifierType">
		<xsd:attribute name="ID" type="tns:UniqueID" use="required"/>
		<xsd:attribute name="DfltName" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="BaseEntityType">
		<xsd:sequence>
			<xsd:element name="Identifier" type="tns:IdentifierType"/>
			<xsd:element name="Child" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence minOccurs="0">
						<xsd:element name="ReferTo" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="ID" type="tns:UniqueID" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="ID" type="tns:UniqueID" use="required"/>
					<xsd:attribute name="Mandatory" type="xsd:boolean" use="optional" default="false"/>
					<xsd:attribute name="Cardinality" type="tns:Cardinality" use="optional"/>
				</xsd:complexType>
				<xsd:key name="BaseEntityTypeChildReferToIDKey">
					<xsd:selector xpath=".//tns:ReferTo"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="DataType" type="tns:DataType" default="ENTITY"/>
	</xsd:complexType>
	<xsd:complexType name="EntityApplyType">
		<xsd:sequence>
			<xsd:element name="Identifier" type="tns:IdentifierType"/>
			<xsd:element name="Child" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence minOccurs="0">
						<xsd:element name="DimensionedBy" minOccurs="0">
							<xsd:complexType>
								<xsd:attribute name="ID" type="tns:UniqueID" use="required"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ReferTo" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="ID" type="tns:UniqueID" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="ID" type="tns:UniqueID" use="required"/>
					<xsd:attribute name="Mandatory" type="xsd:boolean" use="optional" default="false"/>
					<xsd:attribute name="Combinable" type="xsd:boolean" use="optional" default="true"/>
					<xsd:attribute name="Collectable" type="xsd:boolean" use="optional" default="true"/>
					<xsd:attribute name="Cardinality" type="tns:Cardinality" use="optional"/>
				</xsd:complexType>
				<xsd:key name="EntityApplyTypeChildReferToIDKey">
					<xsd:selector xpath=".//tns:ReferTo"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
				<xsd:key name="EntityApplyTypeChildDimensionedByIDKey">
					<xsd:selector xpath=".//tns:DimensionedBy"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
			</xsd:element>
			<xsd:element name="ApplyTo" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="ID" type="tns:UniqueID" use="required"/>
					<xsd:attribute name="Position" type="tns:Position" use="optional"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="DataType" type="tns:DataType" default="ENTITY"/>
	</xsd:complexType>
	<xsd:complexType name="VirtualMeshType">
		<xsd:complexContent>
			<xsd:extension base="tns:BaseEntityType">
				<xsd:sequence>
					<xsd:element name="Dof" type="tns:DofType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="Category" type="tns:Category"/>
				<xsd:attribute name="Connectivity" type="tns:Connectivity" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CharacteristicType">
		<xsd:sequence>
			<xsd:element name="Identifier" type="tns:IdentifierType"/>
			<xsd:element name="AuthorizedValues" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="ID" type="tns:UniqueID" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="DataType" type="tns:DataType" default="CHARACTERISTIC"/>
		<xsd:attribute name="MathType" type="tns:MathType" use="required"/>
		<xsd:attribute name="ValueType" type="tns:ValueType" use="required"/>
		<xsd:attribute name="Dimension" type="tns:Dimension" default="1"/>
		<xsd:attribute name="Unit" type="tns:KWEUnit" default="NONE"/>
	</xsd:complexType>
	<xsd:complexType name="PhysicalDescriptionType">
		<xsd:sequence>
			<xsd:element name="Set" type="tns:SetType" minOccurs="0" maxOccurs="unbounded">
				<xsd:key name="SetChildIDKey">
					<xsd:selector xpath=".//tns:Child"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
			</xsd:element>
			<xsd:element name="Axis" type="tns:AxisType" minOccurs="0" maxOccurs="unbounded">
				<xsd:key name="AxisChildIDKey">
					<xsd:selector xpath=".//tns:Child"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
				<xsd:keyref name="AxisReferToKeyRef" refer="tns:AxisChildIDKey">
					<xsd:selector xpath=".//tns:Child/tns:ReferTo"/>
					<xsd:field xpath="@ID"/>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="Node" type="tns:NodeType" minOccurs="0" maxOccurs="unbounded">
				<xsd:key name="NodeChildIDKey">
					<xsd:selector xpath=".//tns:Child"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
				<xsd:keyref name="NodeReferToKeyRef" refer="tns:NodeChildIDKey">
					<xsd:selector xpath=".//tns:Child/tns:ReferTo"/>
					<xsd:field xpath="@ID"/>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="Load" type="tns:LoadType" minOccurs="0" maxOccurs="unbounded">
				<xsd:key name="LoadChildIDKey">
					<xsd:selector xpath=".//tns:Child"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
				<xsd:key name="LoadApplyToIDPositionKey">
					<xsd:selector xpath=".//tns:ApplyTo"/>
					<xsd:field xpath="@ID"/>
					<xsd:field xpath="@Position"/>
				</xsd:key>
				<xsd:keyref name="LoadReferToKeyRef" refer="tns:LoadChildIDKey">
					<xsd:selector xpath=".//tns:Child/tns:ReferTo"/>
					<xsd:field xpath="@ID"/>
				</xsd:keyref>
				<xsd:keyref name="LoadDimensionedByKeyRef" refer="tns:LoadChildIDKey">
					<xsd:selector xpath=".//tns:Child/tns:DimensionedBy"/>
					<xsd:field xpath="@ID"/>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="Mass" type="tns:MassType" minOccurs="0" maxOccurs="unbounded">
				<xsd:key name="MassChildIDKey">
					<xsd:selector xpath=".//tns:Child"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
				<xsd:key name="MassApplyToIDPositionKey">
					<xsd:selector xpath=".//tns:ApplyTo"/>
					<xsd:field xpath="@ID"/>
					<xsd:field xpath="@Position"/>
				</xsd:key>
				<xsd:keyref name="MassReferToKeyRef" refer="tns:MassChildIDKey">
					<xsd:selector xpath=".//tns:Child/tns:ReferTo"/>
					<xsd:field xpath="@ID"/>
				</xsd:keyref>
				<xsd:keyref name="MassDimensionedByKeyRef" refer="tns:MassChildIDKey">
					<xsd:selector xpath=".//tns:Child/tns:DimensionedBy"/>
					<xsd:field xpath="@ID"/>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="Group" type="tns:GroupType" minOccurs="0" maxOccurs="unbounded">
				<xsd:key name="GroupChildIDKey">
					<xsd:selector xpath=".//tns:Child"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
				<xsd:keyref name="GroupReferToKeyRef" refer="tns:GroupChildIDKey">
					<xsd:selector xpath=".//tns:Child/tns:ReferTo"/>
					<xsd:field xpath="@ID"/>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="Entity" type="tns:EntityType" minOccurs="0" maxOccurs="unbounded">
				<xsd:key name="EntityChildIDKey">
					<xsd:selector xpath=".//tns:Child"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
				<xsd:key name="EntityApplyToIDPositionKey">
					<xsd:selector xpath=".//tns:ApplyTo"/>
					<xsd:field xpath="@ID"/>
					<xsd:field xpath="@Position"/>
				</xsd:key>
				<xsd:keyref name="EntityReferToKeyRef" refer="tns:EntityChildIDKey">
					<xsd:selector xpath=".//tns:Child/tns:ReferTo"/>
					<xsd:field xpath="@ID"/>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="Element" type="tns:ElementType" minOccurs="0" maxOccurs="unbounded">
				<xsd:key name="ElementChildIDKey">
					<xsd:selector xpath=".//tns:Child"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
				<xsd:keyref name="ElementReferToKeyRef" refer="tns:ElementChildIDKey">
					<xsd:selector xpath=".//tns:Child/tns:ReferTo"/>
					<xsd:field xpath="@ID"/>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="Material" type="tns:MaterialType" minOccurs="0" maxOccurs="unbounded">
				<xsd:key name="MaterialChildIDKey">
					<xsd:selector xpath=".//tns:Child"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
				<xsd:keyref name="MaterialReferToKeyRef" refer="tns:MaterialChildIDKey">
					<xsd:selector xpath=".//tns:Child/tns:ReferTo"/>
					<xsd:field xpath="@ID"/>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="Property" type="tns:PropertyType" minOccurs="0" maxOccurs="unbounded">
				<xsd:key name="PropertyChildIDKey">
					<xsd:selector xpath=".//tns:Child"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
				<xsd:key name="PropertyApplyToIDPositionKey">
					<xsd:selector xpath=".//tns:ApplyTo"/>
					<xsd:field xpath="@ID"/>
					<xsd:field xpath="@Position"/>
				</xsd:key>
				<xsd:keyref name="PropertyReferToKeyRef" refer="tns:PropertyChildIDKey">
					<xsd:selector xpath=".//tns:Child/tns:ReferTo"/>
					<xsd:field xpath="@ID"/>
				</xsd:keyref>
				<xsd:keyref name="PropertyDimensionedByKeyRef" refer="tns:PropertyChildIDKey">
					<xsd:selector xpath=".//tns:Child/tns:DimensionedBy"/>
					<xsd:field xpath="@ID"/>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="Restraint" type="tns:RestraintType" minOccurs="0" maxOccurs="unbounded">
				<xsd:key name="RestraintChildIDKey">
					<xsd:selector xpath=".//tns:Child"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
				<xsd:key name="RestraintApplyToIDPositionKey">
					<xsd:selector xpath=".//tns:ApplyTo"/>
					<xsd:field xpath="@ID"/>
					<xsd:field xpath="@Position"/>
				</xsd:key>
				<xsd:keyref name="RestraintReferToKeyRef" refer="tns:RestraintChildIDKey">
					<xsd:selector xpath=".//tns:Child/tns:ReferTo"/>
					<xsd:field xpath="@ID"/>
				</xsd:keyref>
				<xsd:keyref name="RestraintDimensionedByKeyRef" refer="tns:RestraintChildIDKey">
					<xsd:selector xpath=".//tns:Child/tns:DimensionedBy"/>
					<xsd:field xpath="@ID"/>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="VirtualMesh" type="tns:VirtualMeshType" minOccurs="0" maxOccurs="unbounded">
				<xsd:key name="VirtualMeshChildIDKey">
					<xsd:selector xpath=".//tns:Child"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
				<xsd:keyref name="VirtualMeshReferToKeyRef" refer="tns:VirtualMeshChildIDKey">
					<xsd:selector xpath=".//tns:Child/tns:ReferTo"/>
					<xsd:field xpath="@ID"/>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="Characteristic" type="tns:CharacteristicType" minOccurs="0" maxOccurs="unbounded">
				<xsd:key name="CharacteristicAuthorizedValuesIDKey">
					<xsd:selector xpath=".//tns:AuthorizedValues"/>
					<xsd:field xpath="@ID"/>
				</xsd:key>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PhysicalDescriptionPackageType">
		<xsd:complexContent>
			<xsd:extension base="tns:PhysicalDescriptionType">
				<xsd:attribute name="PackageName" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PhysicalDescriptionDirectoryType">
		<xsd:sequence maxOccurs="2">
			<xsd:element name="PhysicalDescriptionPackage" type="tns:PhysicalDescriptionPackageType"/>
		</xsd:sequence>
		<xsd:attribute name="Version" type="xsd:integer" use="required"/>
	</xsd:complexType>
	<xsd:element name="PhysicalDescriptionDirectory" type="tns:PhysicalDescriptionDirectoryType">
		<xsd:key name="IDKey">
			<xsd:selector xpath=".//tns:Identifier"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="ChildKeyRef" refer="tns:IDKey">
			<xsd:selector xpath=".//tns:Child"/>
			<xsd:field xpath="@ID"/>
		</xsd:keyref>
		<xsd:keyref name="ApplyToKeyRef" refer="tns:IDKey">
			<xsd:selector xpath=".//tns:ApplyTo"/>
			<xsd:field xpath="@ID"/>
		</xsd:keyref>
		<xsd:keyref name="ReferToKeyRef" refer="tns:IDKey">
			<xsd:selector xpath=".//tns:Child/tns:ReferTo"/>
			<xsd:field xpath="@ID"/>
		</xsd:keyref>
		<xsd:keyref name="DimensionedByKeyRef" refer="tns:IDKey">
			<xsd:selector xpath=".//tns:Child/tns:DimensionedBy"/>
			<xsd:field xpath="@ID"/>
		</xsd:keyref>
		<xsd:keyref name="AuthorizedValuesKeyRef" refer="tns:IDKey">
			<xsd:selector xpath=".//tns:AuthorizedValues"/>
			<xsd:field xpath="@ID"/>
		</xsd:keyref>
	</xsd:element>
</xsd:schema>
