B21/win_b64/startup/Reporting/Schema/ActivityStatistics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Cinny Thomas (Delmia Solutions Pvt. Ltd.) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Delmia (Delmia Corp) -->
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by  Rakesh SG (Delmia US) -->
	<xsd:complexType name="Logic">
		<xsd:annotation>
			<xsd:documentation>logic Details</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:element name="ActivityStatistics">
		<xsd:annotation>
			<xsd:documentation>Simulation Statistics</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Version" minOccurs="0"/>
				<xsd:element name="Model" type="Model"/>
				<xsd:element name="Units" type="Units"/>
				<xsd:element name="Run" type="Run" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="State_Times">
		<xsd:sequence>
			<xsd:element name="BusyTime" type="xsd:float"/>
			<xsd:element name="IdleTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Resource">
		<xsd:sequence>
			<xsd:element name="Tasks">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Task" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="StartTime"/>
									<xsd:element name="EndTime"/>
									<xsd:element name="Motion" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="MotionStartTime" minOccurs="0"/>
												<xsd:element name="MotionEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="Set" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="SetStartTime" minOccurs="0"/>
												<xsd:element name="SetEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="Wait" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="WaitStartTime" minOccurs="0"/>
												<xsd:element name="WaitEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="Delay" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="DelayStartTime" minOccurs="0"/>
												<xsd:element name="DelayEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="CallTask" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="TaskStartTime" minOccurs="0"/>
												<xsd:element name="TaskEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="Grab" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="GrabStartTime" minOccurs="0"/>
												<xsd:element name="GrabEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="Release" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ReleaseStartTime" minOccurs="0"/>
												<xsd:element name="ReleaseEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="Mount" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="MountStartTime" minOccurs="0"/>
												<xsd:element name="MountEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="UnMount" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="UnMountStartTime" minOccurs="0"/>
												<xsd:element name="UnMountEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="AutoWalk" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="WalkStartTime" minOccurs="0"/>
												<xsd:element name="WalkEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="BeginTrackLine" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="BeginTrackLineStartTime" minOccurs="0"/>
												<xsd:element name="BeginTrackLineEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="EndTrackLine" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="EndTrackLineStartTime" minOccurs="0"/>
												<xsd:element name="EndTrackLineEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="Walk" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="WalkStartTime" minOccurs="0"/>
												<xsd:element name="WalkEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="MoveToPosture" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="MoveStartTime" minOccurs="0"/>
												<xsd:element name="MoveEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="Pick" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="PickStartTime" minOccurs="0"/>
												<xsd:element name="PickEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="Place" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="PlaceStartTime" minOccurs="0"/>
												<xsd:element name="PlaceEndTime" minOccurs="0"/>
											</xsd:sequence>
											<xsd:attribute name="Name" type="xsd:string" use="required"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
								<xsd:attribute name="Name" type="xsd:string" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:NMTOKEN" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Model">
		<xsd:sequence>
			<xsd:element name="DocumentName" type="xsd:Name"/>
			<xsd:element name="Date" type="xsd:string"/>
			<xsd:element name="Time">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Units">
		<xsd:sequence>
			<xsd:element name="Time" type="xsd:string"/>
			<xsd:element name="Length" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Run">
		<xsd:sequence>
			<xsd:element name="RunParameters">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SimulationTime" type="xsd:float"/>
						<xsd:element name="WarmupTime" type="xsd:float"/>
						<xsd:element name="StatsCollectionTime" type="xsd:float"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Resources">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Resource" type="Resource" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="RunNumber" type="xsd:integer" use="required"/>
	</xsd:complexType>
</xsd:schema>
