B21/win_b64/startup/Reporting/Schema/SystemStatistics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Cinny Thomas (Delmia Solutions Pvt. Ltd.) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Cinny Thomas (Delmia) -->
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by Anil Kumar A V (Delmia Solutions Pvt. Ltd) -->
	<xsd:element name="SystemStatistics">
		<xsd:annotation>
			<xsd:documentation>Production System Statistics</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Version" minOccurs="0"/>
				<xsd:element name="Model" type="Model"/>
				<xsd:element name="Units" type="Units"/>
				<xsd:element name="Run" type="Run" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Sample_Stat">
		<xsd:sequence>
			<xsd:element name="Count" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Minimum" type="xsd:float" minOccurs="0"/>
			<xsd:element name="Maximum" type="xsd:float" minOccurs="0"/>
			<xsd:element name="Sum" type="xsd:float" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sum of the Samples</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StdDev" type="xsd:float" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Standard Deviation of the Samples</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Average" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="State_Times">
		<xsd:sequence>
			<xsd:element name="IDLE" type="xsd:float" minOccurs="0"/>
			<xsd:element name="IDLE_PARKED" type="xsd:float" minOccurs="0"/>
			<xsd:element name="BUSY_PROCESSING" type="xsd:float" minOccurs="0"/>
			<xsd:element name="BUSY_LOADING" type="xsd:float" minOccurs="0"/>
			<xsd:element name="BUSY_UNLOADING" type="xsd:float" minOccurs="0"/>
			<xsd:element name="BUSY_SETUP" type="xsd:float" minOccurs="0"/>
			<xsd:element name="BUSY_REPAIR" type="xsd:float" minOccurs="0"/>
			<xsd:element name="LOADED_TRAVEL" type="xsd:float" minOccurs="0"/>
			<xsd:element name="EMPTY_TRAVEL" type="xsd:float" minOccurs="0"/>
			<xsd:element name="TRAVEL_BLOCK" type="xsd:float" minOccurs="0"/>
			<xsd:element name="UNLOAD_BLOCK" type="xsd:float" minOccurs="0"/>
			<xsd:element name="REQMT_BLOCK" type="xsd:float" minOccurs="0"/>
			<xsd:element name="DEPART_REQMT_BLOCK" type="xsd:float" minOccurs="0"/>
			<xsd:element name="CLAIM_BLOCK" type="xsd:float" minOccurs="0"/>
			<xsd:element name="REQMT_PREEMPTED" type="xsd:float" minOccurs="0"/>
			<xsd:element name="WAIT_BLOCK" type="xsd:float" minOccurs="0"/>
			<xsd:element name="SHIFT_OUT" type="xsd:float" minOccurs="0"/>
			<xsd:element name="SHIFT_BRK" type="xsd:float" minOccurs="0"/>
			<xsd:element name="FAILED" type="xsd:float" minOccurs="0"/>
			<xsd:element name="BUSY_XFERING" type="xsd:float" minOccurs="0"/>
			<xsd:element name="NOT_CONSIDERED" type="xsd:float" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Resource">
		<xsd:sequence>
			<xsd:element name="StateTimes" type="State_Times" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>All the States the resource was in</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AvgUtilization" type="xsd:float" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Avg. Utilization of the resource</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumRepairs" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of repair cycles underwent by the resource</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VehicleTime" type="Sample_Stat" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time spent by each AGV at the Dec</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ZeroWaitEntries" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of parts with zero waiting time</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DistanceTravelled" type="xsd:float" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Distance travelled by each mobile</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumTrips" type="xsd:float" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>For Carriers Only</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DogTime" type="xsd:float" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>For Carriers Only</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ClaimBusyTime" type="xsd:float" minOccurs="0"/>
			<xsd:element name="TotalAGVsClaimed" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="ClaimContent" type="Sample_Stat" minOccurs="0"/>
			<xsd:element name="AGVsWaitedToClaim" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="AvgClaimWaitTime" type="xsd:float" minOccurs="0"/>
			<xsd:element name="VehiclesVisited" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="RequestLength" type="Sample_Stat" minOccurs="0"/>
			<xsd:element name="RequestResidenceTime" type="Sample_Stat" minOccurs="0"/>
			<xsd:element name="OrderLength" type="Sample_Stat" minOccurs="0"/>
			<xsd:element name="OrderResidenceTime" type="Sample_Stat" minOccurs="0"/>
			<xsd:element name="Segments" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Segment Statistics for all Segment type Resources</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Segment" type="Segment" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Statistics for each segment</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Processes" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Process Statistics for All processes associated with the resource</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Process" type="Process" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Logics" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Logic Statisics - If turned ON</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Logic" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="StateTimes" type="State_Times"/>
								</xsd:sequence>
								<xsd:attribute name="Name" type="xsd:string" use="required"/>
								<xsd:attribute name="Type" type="xsd:string" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Failures" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Failure Statistics for all failures associated with the resource</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Failure" type="Failure" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ProductStatistics" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Product" type="Product" maxOccurs="unbounded"/>
						<xsd:element name="AllProducts" type="ProductStatistics"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
		<xsd:attribute name="ExternalName" type="xsd:string" use="optional"/>
		<xsd:attribute name="UUID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="Process">
		<xsd:sequence>
			<xsd:element name="AbortCount" type="xsd:integer"/>
			<xsd:element name="RejectionCount" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="ProcessTime" type="Sample_Stat"/>
			<xsd:element name="CycleTime" type="Sample_Stat"/>
			<xsd:element name="PauseTime" type="Sample_Stat"/>
			<xsd:element name="ReqmtTime" type="Sample_Stat"/>
			<xsd:element name="ProductReqmtTime" type="Sample_Stat"/>
			<xsd:element name="LaborReqmtTime" type="Sample_Stat"/>
			<xsd:element name="AGVReqmtTime" type="Sample_Stat"/>
			<xsd:element name="SRReqmtTime" type="Sample_Stat"/>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
		<xsd:attribute name="Type" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Model">
		<xsd:sequence>
			<xsd:element name="DocumentName" type="xsd:string"/>
			<xsd:element name="Date" type="xsd:date"/>
			<xsd:element name="Time" type="xsd:time"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Units">
		<xsd:sequence>
			<xsd:element name="Time" type="xsd:string"/>
			<xsd:element name="Length" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Run">
		<xsd:sequence>
			<xsd:element name="RunParameters">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SimulationTime" type="xsd:float"/>
						<xsd:element name="WarmupTime" type="xsd:float"/>
						<xsd:element name="StatsCollectionTime" type="xsd:float"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Products" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Product" type="Product" maxOccurs="unbounded"/>
						<xsd:element name="AllProducts" type="ProductStatistics"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Processes" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CycleProcesses" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Process" type="Process" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="LoadProcesses" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Process" type="Process" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="UnloadProcesses" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Process" type="Process" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="RepairProcesses" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Process" type="Process" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="SetupProcesses" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Process" type="Process" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Resources">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Sources" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Source" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Sinks" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Sink" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Buffers" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Buffer" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Machines" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Machine" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Conveyors" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Conveyor" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="AGVs" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="AGV" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Labors" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Labor" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="AGV_Path_Systems" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="AGV_Path_System" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Labor_Path_Systems" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Labor_Path_System" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Power_n_Frees" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Power_n_Free" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Carriers" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Carrier" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Cnv_Dec_Pts" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Cnv_Dec_Pt" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Pnf_Dec_Pts" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Pnf_Dec_Pt" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="AGV_Dec_Pts" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="AGV_Dec_Pt" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Labor_Dec_Pts" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Labor_Dec_Pt" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Extr_Conveyors" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Extr_Conveyor" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Resources" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Resource" type="Resource" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="RunNumber" type="xsd:integer" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Product">
		<xsd:sequence>
			<xsd:element name="Statistics" type="ProductStatistics"/>
			<xsd:element name="NumericUserAttribute" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:float">
							<xsd:attribute name="Name" type="xsd:string" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="StringUserAttribute" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="Name" type="xsd:string" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
		<xsd:attribute name="UUID" type="xsd:string" use="optional"/>
		<xsd:attribute name="ExternalName" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="Segment">
		<xsd:sequence>
			<xsd:element name="Utilization" type="xsd:float" minOccurs="0"/>
			<xsd:element name="BusyTime" type="xsd:float" minOccurs="0"/>
			<xsd:element name="IdleTime" type="xsd:float" minOccurs="0"/>
			<xsd:element name="NumVehiclesEntered" type="xsd:float" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Failure">
		<xsd:sequence>
			<xsd:element name="FailureTime" type="Sample_Stat"/>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="ProductStatistics">
		<xsd:sequence>
			<xsd:element name="NumInitial" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Initial Products Existing at Stats Start Time</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalIn" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Total Products Entered - Transfered In</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalOut" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Total Products Exited - Transfered Out</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumCreated" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Products Arrived</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumProduced" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Products Produced</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumConsumed" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Products Consumed</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumDestroyed" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Products Dispatched</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumRejected" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Products Rejected</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumPacked" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Products Packed</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumUnPacked" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Products Unpacked</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Content" type="Sample_Stat">
				<xsd:annotation>
					<xsd:documentation>Product Content</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ResidenceTime" type="Sample_Stat">
				<xsd:annotation>
					<xsd:documentation>Product Residence Time</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
